html
head
    script(src="js/jquery-2.1.0.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/client.js")

body
	p#statusStatus: Disconnected
	hr
	svg#mainSvg
		path#path(style="fill:none;stroke:black;stroke-width:3")